<% provide(:title, 'All Users') %>
<h1>学習者リスト</h1>
<div class="col-md-10 col-md-offset-1">
<%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
  <div>
    <%= link_to "作成", new_user_path, class: "btn btn-primary"%>
  </div>
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <% count = user.reports.where(confiramtion: false).count %>
      <tr>
        <td>
          <%= link_to user.name, user %>
          <%= link_to "編集", edit_learner_info_user_path(user), remote: true, class: "btn btn-primary"%>
          <%= link_to "削除", user, method: :delete,
              data: { confirm: "削除してよろしいですか？" },
              class: "btn btn-danger" %>
        </td>
      </tr>
      <tr>
        <td>
          <% if count == 0 %>
            <%= link_to "日報", user_reports_path(user), class: "btn btn-success"%>
          <% else %>
            <%= link_to "日報", user_reports_path(user), class: "btn btn-warning"%>
            <h5 style="color:red"><%= count %>件が未確認です</h5>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-learner-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>