<% provide(:title, @user.name) %>
<html>
  <body>
    <table border="1" width="23%">
      <tr>
        <td>名前: <%= @user.name %></td>
        <td>学習コース: <%= @lesson.lesson_name %></td>
      </tr>
    </table>
    <div>
      <h3>学習状況</h3>
    </div>
    <div>
      <h4>
        進捗状況
        <%= link_to"タスク詳細", users_user_id_lessons_id_index_path(id: @lesson.id, user_id: @user.id), class: "btn btn-success"%>
      </h4>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow=<%= @percent.to_s %> aria-valuemin="0" aria-valuemax="100" style=<%= "width:" + @percent.to_s + "%;" %>> <%= @percent.floor %>% </div>
    </div>
    <div>
      <h4>
        学習時間
      <%= link_to"学習時間詳細", user_reports_path(user_id: @user.id), class: "btn btn-success"%>
      </h4>
    </div>
  </body>
</html>