<% provide(:title, 'All Lessons') %>
<h1>学習コース</h1>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= Lesson.human_attribute_name :lesson %></th>
      </tr>
    </thead>
    <tr>
      <%= link_to "新規コース作成", new_lesson_path,class: "btn btn-primary"%>
    </tr>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.lesson_name %></td>
      </tr>
      <tr>
        <td>
        <%= link_to "削除", lesson_path(lesson.id), method: :delete,
            data: { confirm: "削除してよろしいですか？" },
            class: "btn btn-danger" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to "学習コース編集", edit_lesson_path(lesson.id),class: "btn btn-primary"%>
        </td>
      </td>
      </tr>
    <% end %>
  </table>
</div>