<% provide(:title, 'reports') %>
<h1>日報作成</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @report, url:user_reports_path, method: :post ,local: true) do |f| %>
      <h5>作成日</h5>
      <%= f.date_field :reported_day, value: Time.now.strftime("%Y-%m-%d"), class: 'form-control' %>
      <h5>勉強時間</h5>
      <%= f.number_field :study_time, class: 'form-control' %>
      <h5>日報</h5>
      <%= f.text_area :note, :size=>"60x10", class: 'form-control' %>

      <%= f.hidden_field :user_id, :value => @user.id %>
      <%= f.submit "送信", class: "btn btn-primary btn-block btn-signup" %>
    <% end %>
  </div>
</div>
